# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais e configurações de IDE
.env
.venv/
venv/
.vscode/
.idea/

# Arquivos de dados locais do app
history.json
*.log

# Arquivos de build do Arch Linux (makepkg)
pkg/
src/
*.pkg.tar.zst