# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Debian packaging artifacts (gerados em subdiretórios)
deb_dist/
*.deb
*.changes
*.buildinfo
*.dsc
*.orig.tar.gz
*.debian.tar.xz

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*~
.DS_Store