[Desktop Entry]
Version=1.1.1
Name=Maratonando
Comment=Busca e assiste animes
Exec=maratonando
Icon=maratonando
Terminal=false
Type=Application
Categories=AudioVideo;Video;Network;Player;

